.diagram-page {
  width: 100%;
}

.diagram-container {
  height: calc(100vh - 180px);
}

.main-diagram-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.title-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 20px;
  h1 {
    align-self: center;
    line-height: 70px;
  }
  .project-buttons {
    display: flex;
    justify-content: space-between;
    width: 340px;
    button {
      height: 35px;
      width: 100px;
      align-self: center;
    }
  }
}

.taskbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: lightgray;
  .taskbar-left-section {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      padding: 0px 10px;
    }
    .taskbar-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 5px;
      height: 100%;
      border-right: 2px solid gray;
    }
  }
  .taskbar-right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      width: 50px;
      padding: 0px 10px;
    }
    .taskbar-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 5px;
      height: 100%;
      border-left: 2px solid gray;
    }
  }
}

.bodywidget-container {
  width: 100%;
}

.custom-node {
  display: flex;
  flex-direction: column;
}

.custom-node-nodeTitle {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 0 15px;
  border: solid 2px #0c7cba;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #3aa6dd;
  width: 400px;
  height: 60px;
  text-align: center;
  line-height: 57px;
  font-family: "LiberationSansRegular";
}

.custom-node-nodeTitle input {
  font-size: 2.5rem;
}

.custom-node-nodeTitle h1 {
  margin: 0;
  padding-left: 15px;
  font-size: 3rem;
  font-family: "LiberationSansRegular";
}

.custom-node-screen {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #999999;
  border-left: 2px solid #0c7cba;
  border-right: 2px solid #0c7cba;
  border-bottom: 2px solid #0c7cba;
  background-color: white;
  width: 400px;
  height: 300px;
  text-align: center;
  font-family: "LiberationSansRegular";
  p {
    font-size: 2.5rem;
  }
}

.custom-node-screen textarea {
  align-self: center;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 400px;
  height: 260px;
  outline: 5;
  box-shadow: none;
  border: none;
  box-sizing: content-box;
  background-color: transparent;
  overflow-y: hidden;
  resize: none;
  font-size: 2.5rem;
  font-family: "LiberationSansRegular";
}

.custom-node-submenus {
  display: flex;
  align-content: center;
  flex-direction: row;
  color: #999999;
  padding: 0 15px;
  border-left: solid 2px #0c7cba;
  border-right: solid 2px #0c7cba;
  border-bottom: solid 2px #0c7cba;
  height: 50px;
  line-height: 50px;
  max-width: 400px;
  background-color: white;
  font-family: "LiberationSansRegular";
}

.custom-node-submenus h2 {
  margin: 0;
  flex-grow: 2;
  font-style: italic;
  font-family: "LiberationSansRegular";
  overflow: hidden;
}

.trash-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 50px;
  height: 100%;
  padding: 0px;
}

.trash-icon img {
  width: auto;
  height: 55%;
}

.line-in {
  display: flex;
  align-self: center;
  justify-content: center;
  border: 2px solid #0c7cba;
  background-color: white;
  z-index: 1;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 20px;
}

.line-out {
  display: flex;
  align-self: center;
  justify-content: center;
  border: 2px solid #0c7cba;
  z-index: 1;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 20px;
}

.custom-node-addMenuOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #0c7cba;
  background-color: #99d2f2;
  padding: 0 15px;
  border-left: solid 2px #0c7cba;
  border-right: solid 2px #0c7cba;
  border-bottom: solid 2px #0c7cba;
  height: 50px;
  line-height: 50px;
  max-width: 400px;
  font-family: "LiberationSansRegular";
}

.custom-node-addMenuOption h2 {
  margin: 0;
  font-style: italic;
  font-family: "LiberationSansRegular";
  text-align: center;
  font-size: 2.5rem;
}

.custom-node-addMenuOption img {
  width: 30px;
  filter: invert(100%);
  cursor: pointer;
}

.hidden {
  display: none;
}
