.delete-true {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    .delete-container {
      z-index: 2;
      margin: 0 auto;
      background-color: black; 
      border-radius: 4rem;
      width: 45rem;
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      h3 {
        font-weight: bold;
        color: white;
        font-size: 2rem;
        line-height: 2.6rem;
        margin: 0 8rem;
        text-align: center;
        @media (max-width: 600px) {
          margin: 1.25rem 4rem;
        }
      }
      .btn-container{
        display: flex;
        .delete-btn-yes {
          margin-right: 2rem;
          @include custom-btn(15rem, 5rem, rgb(202, 0, 26), #fbffff, 1.6rem);
          margin-bottom: 1.25rem;
          z-index: 4;
          @media (max-width: 600px) {
            margin-right: 0;
          }
        }
        
        .delete-btn-no {
          @include custom-btn(15rem, 5rem, #00e600, black, 1.6rem);
          margin-bottom: 1.25rem;
          z-index: 4;
        }
        @media (max-width: 600px) {
        flex-direction: column;
        }
      }
      @media (max-width: 600px) {
          width: 90%;
          height: auto;
      }
    }
  }
  
  .delete-false {
    display: none;
  }
  
  @media (max-width: 600px) {
    .delete-container h3 {
      padding: 0 2rem;
    }
    .delete-btn-yes {
      width: 40%;
    }
    .delete-btn-no {
      width: 40%;
    }
  }
