.footer {
  display: flex;
  flex-direction: row;
  background-color: #1a1e23;
  height: 100px;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0% 10%;

  a {
    color: white;
    text-decoration: none;
    font-size: 130%;
  }

  img {
    max-width: 25px;
  }
}

.copyright {
  display: inline-block;

  p {
    display: inline-block;
    font-size: 130%;
  }
}

