  .home-header {
    display: flex;
    flex-direction: row;
  
    background-color: #fafafa;
    height: 100px;
    border: 1px;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .header-content {
      font-size: 3.5rem;
      margin-left: 20px;
    }
  }
  
  .home-container {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    height: 450px;
    border: 1px;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

  }
  .home-content {
    font-size: 2.5rem;
    width: 40%;
    button {
      border: 3px solid rgb(0, 0, 0);
      color: black;
      width: 160px;
      height: 48px;
      background-color: inherit;
      transition: 0.3s;
      font-family: "Libre Baskerville", serif;
      font-family: "Dosis", sans-serif;
      font-family: "Barlow", sans-serif;
      font-weight: bold;
    }

    button:hover {
      cursor: pointer;
      background: black;
      color: white;
    }

    
    .flow-button{
      margin-top: 20px;
    }
  }
  
  .home-list {
    font-size: 1.3rem;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
    p{
     font-size: 2.2rem;
    }
  }
  

  
  .home-content2 {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    height: 600px;
    border: 1px;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  
    h1 {
      margin: 10px;
      font-size: 3rem;
    }
  }
  
  .home-info {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 350px;
    border: 1px;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  
    h1 {
      margin: 10px;
      font-size: 3rem;
    }
  
    p {
      margin: 10px;
      font-size: 2.0rem;
    }
  }