.navbar {
    display: flex;
    flex-direction: row;
    background-color: #1a1e23;
    height: 70px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;

  .nav-title-box {
    display: flex;
    align-items: center;
    border: 15px;
    width: 40%;

    .nav-title-content {
      a {
        font-size: 4rem;
        text-decoration: none;
        color: white;
      }
    }
  }
  
  .nav-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    border: 25px;
    font-size-adjust: 1rem;
    font-size: 3rem;
    float: right;
  }
}
