.profile-page-container{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    width: 100%;
    height: calc(100vh - 70px);
    .resources-section{
        width: 20rem;
        height: 100%;
        background: #575a88;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            padding: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .resources-list{
            overflow-y: auto;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* IE 10+ */
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent; /* Chrome/Safari/Webkit */
            }
            .resource{
                width:15rem;
                height:15rem;
                margin-bottom: 2rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                cursor:pointer;
                .title-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 5rem;
                    width: 100%;
                    // border: 1px solid red;
                    h3{
                        font-size: 2rem;
                        text-align: center;
                        margin: 0 0;
                    }
                }
            }
        }
    }
    .folders-section{
        width: 20rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            padding: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .folders-list{
            overflow-y: auto;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* IE 10+ */
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent; /* Chrome/Safari/Webkit */
            }
            .folder{
                width:15rem;
                height:15rem;
                margin-bottom: 2rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                cursor:pointer;
                .title-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 5rem;
                    width: 100%;
                    // border: 1px solid red;
                    h3{
                        font-size: 2rem;
                        text-align: center;
                        margin: 0 0;
                    }
                }
            }
        }
    }
    .projects-section{
        width: calc(100% - 40rem);
        height: 100%;
        border-left: .25rem solid black;
        display: flex;
        flex-direction: column;
        padding: 0 2.5rem;
        h2{
            padding: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .projects-list{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow-y: auto;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* IE 10+ */
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent; /* Chrome/Safari/Webkit */
            }
            .project{
                width:15rem;
                height:15rem;
                margin-bottom: 2rem;
                margin-right: 2rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                cursor:pointer;
                .title-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 5rem;
                    width: 100%;
                    // border: 1px solid red;
                    h3{
                        font-size: 2rem;
                        text-align: center;
                        margin: 0 0;
                    }
                }
            }
        }
    }
}