.simulation-true {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    .simulation-container {
      z-index: 1;
      margin: 0 auto;
      background-color: rgb(41, 37, 37); 
      border-radius: 4rem;
      width: 45rem;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
        .cancel-container{
            position: relative;
            left: 25rem;
            top: -2.5rem;
            height: 0;
            width: 0;
            font-size: 5rem;
            color: rgb(202, 0, 26);
            transition: 1s;
            cursor: pointer;
            &:hover{
                color: #00e600;
            }
            @media (max-width: 600px) {
                left: -2.5rem;
                top: -5rem;
            }
        }
        .simulation-screen-container{
            width: 80%;
            height: 60%;
            background: $snow;
            .to-container{
                border: 1px solid grey; 
                height: 4rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                p{
                    padding: 0;
                    margin-left: 1rem;
                    font-size: 12px;
                }
            }
            .receive-container{
                border: 1px solid grey; 
                height: calc(100% - 8rem);
                overflow-y: scroll;
            }
            .send-container{
                border: 1px solid grey; 
                height: 4rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                p{
                    padding: 0;
                    margin-left: 1rem;
                }
                form {
                    input{
                        margin-left: 1rem;
                        width: 150%;
                    }
                }
            }
        }
        .simulation-btn-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 80%;
            height: 30%;
            .fake-btn{
                width: 30%;
                height: 20%;
                border-radius: 6rem;
                background: $snow;
                display:flex;
                justify-content: center;
                align-items: center;
                p{
                    padding: 0
                }
            }
        }
      }
      @media (max-width: 600px) {
          width: 100%;
      }
    }
  .simulation-false {
    display: none;
  }
  
