
// Color assignments 
// $font-color: $shark;
// $button-bg: $eastern-blue;
// $main-bg:  $white;
// $navigation-border: $silver;
// $footer-bg: $sandy-beach;

// Colors
$darkslateblue: #575a88;
$tomato: tomato;
$darkslategray: darkslategray;
$snow: snow;

// Mobile
$mobile: (max-width: 600px);

// Tablet
$tablet: (max-width: 900px);

