{
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "src",
            "./src"
          ],
          [
            "@",
            "./src/components"
          ],
          [
            "state",
            "./src/state"
          ],
          [
            "theme",
            "./src/theme.js"
          ],
          [
            "helpers",
            "./src/helpers.js"
          ]
        ],
        "extensions": [
          ".js"
        ]
      }
    }
  },
  "extends": [
    "wesbos"
  ],
  "rules": {
    "camelcase": "off"
  }
}
