{
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "src",
            "./src"
          ],
          [
            "@",
            "./src/components"
          ],
          [
            "actions",
            "./src/actions"
          ],
          [
            "reducers",
            "./src/reducers"
          ],
          [
            "theme",
            "./src/theme.js"
          ],
          [
            "helpers",
            "./src/helpers.js"
          ]
        ],
        "extensions": [
          ".js"
        ]
      }
    }
  },
  "extends": [
    "wesbos"
  ],
  "rules": {
    "camelcase": "off",
    "import/no-cycle": "off",
    "no-shadow": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off"
  }
}
