.srd-demo-canvas {
  height: 100%;
  width: 100%;
  // padding-left: 100px;
  // min-height: 300px;
  background-color: rgb(60, 60, 60) !important;
  $color: rgba(white, 0.05);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      $color 25%,
      $color 26%,
      transparent 27%,
      transparent 74%,
      $color 75%,
      $color 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      $color 25%,
      $color 26%,
      transparent 27%,
      transparent 74%,
      $color 75%,
      $color 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;

  .pointui {
    fill: rgba(white, 0.5);
  }
}
