@import 'reset';

.App {
    text-align: center;
    background-color: #fafafa;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .AppHead {
    display: flex;
    flex-direction: row;
    background-color: #1a1e23;
    height: 100px;
    color: white;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .header1 {
    display: flex;
    align-content: center;
    border: 15px;
    margin-left: 25px;
    font-size: 1.5rem;
  }
  
  .header2 {
    display: flex;
    align-content: center;
    border: 25px;
    margin-right: 45px;
    font-size: 1.5rem;
  }
  
  .home1 {
    display: flex;
    flex-direction: row;
  
    background-color: #fafafa;
    height: 100px;
    border: 1px;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .home1a {
    display: flex;
    flex-direction: row;
    /* width: 1200px; */
    background-color: #fafafa;
    height: 450px;
    border: 1px;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }
  
  .homeleft {
    font-size: 2.5rem;
    width: 40%;
  }
  
  .homesub {
    font-size: 1.3rem;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  /* .homesub p {
    border: 12px;
    margin: 12px;
  } */
  
  .textbig {
    font-size: 3.5rem;
    margin-left: 20px;
  }
  
  .home1b {
    display: flex;
    flex-direction: row;
    /* width: 1200px; */
    background-color: #fafafa;
    height: 600px;
    border: 1px;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    h1 {
        margin: 10px;
        font-size: 3rem;
    }

  }

  .home1c {
    display: flex;
    flex-direction: column;
    /* width: 1200px; */
    background-color: #fafafa;
    height: 350px;
    border: 1px;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    h1 {
        margin: 10px;
        font-size: 3rem;
      }
      
    p {
        margin: 10px;
        font-size: 1.2rem;
      }

  }

  .flexcontainer {
    display: flex;
    flex-direction: row;
  }
  
  .App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .App-link {
    color: #61dafb;
  }

  .header-title {
    a {
        text-decoration: none;
        color: white;
    }
  }

  
.profile-page-container {
    display: flex;
    min-height: 900px;
  }
  
  .profile-page-container h2 {
    font-size: 250%;
  }
  
  .resources {
    display: flex;
    justify-content: center;
    background-color: lightslategray;
    width: 15%;
    padding: 5% 0%;
  }
  
  .resources-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .folders-projects {
    display: flex;
    width: 90%;
    padding: 5% 0%;
  }
  
  .folders-section {
    padding: 0% 3%;
    width: 35%;

    h2 {
        text-align: left;
      }
  }

  .folders-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .folder {
    width: 150px;
    height: 160px;
    border: 1px solid black;
    margin-top: 2em;
  }
  
  .projects-section {
    padding: 0% 3%;
    width: 65%;
    border-left: 2px solid darkslategray;

    h2 {
        text-align: left;
      }
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    background-color: #1a1e23;
    height: 100px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;

    a {
        color: white;
        text-decoration: none;
        font-size: 130%;
      }

    img {
        max-width: 25px;
      }

  }
  
  .copyright {
    display: inline-block;

    p {
        display: inline-block;
        font-size: 130%;
      }
  }

  .red-text {
    font-size: 130%;
    color: red;

    a:visited {
        text-decoration-color: white;
        text-decoration: none;
      }
  }


  .projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project {
    width: 150px;
    height: 160px;
    border: 1px solid black;
    margin-top: 2em;
  }



// CONTACT SECTION

.contact-form-container {
    display: flex;
    justify-content: center;
    padding: 5% 0%;
    border: 1px;
}



// NAVBAR LINKS SECTION

.navbar-links {
    display: flex;
    justify-content: space-between;
    width: 500px;
    text-decoration: none;

    a {
        color: white;
        text-decoration: none;
      }
  }



// APP DESIGN SECTION

.title-taskbar-canvas {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.title-test-save-export {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 30px;
    height: 100px;
    background-color: rgb(160, 192, 218);

    h1 {
        font-size: 70px;
        }
}
  
.test-save-export {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;

    button {
        border-radius: 5%;
        width: 80px;
        height: 50%;
        }
}

.taskbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    height: 40px;
    padding: 0% 1%;
}

.tasktest {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskbar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 2px solid darkslategray;
    padding: 0% 15px;

    img {
        max-width: 30px;
        max-height: 70%;
        padding: 0% 5px;
      }
}

.canvas {
    height: 100%;
  }